a,
input,
button {
  /*清除点击阴影*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  /*清除按钮的圆角*/
  -webkit-appearance: none;
  border-radius: 0;
}
body {
  /*选中文字设置*/
  margin: 0;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  position: relative;
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
body * {
  /*文字设置*/
  text-decoration: none;
  width: 100%;
  -webkit-user-select: none;
  font-family: Helvetica;
}
h2,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
* {
  color: #595656;
}
.container {
  text-align: center;
  width: 18.88888889rem;
  margin: 0 auto;
}
.center-align {
  margin: 0 auto;
  text-align: center;
}
.title {
  margin: 0.83333333rem auto;
}
.title-ch {
  margin: 0.02777778rem auto;
  font-size: 1.11111111rem;
  vertical-align: middle;
  color: #585757;
}
.title-ch span {
  display: inline-block;
  margin-bottom: 0.27777778rem;
  width: 1.94444444rem;
  height: 0;
  border: 0.02777778rem solid #585757;
}
.title-alpha {
  font-size: 0.44444444rem;
  color: #585757;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clearfix {
  display: table;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
.header {
  height: 3.33333333rem;
}
.header-left {
  width: 1.30555556rem;
  height: 1.30555556rem;
  margin-top: 1.01388889rem;
}
.header-mid {
  height: 2.5rem;
  width: 7.72222222rem;
  margin: 0.41666667rem auto;
}
.header-mid-icon {
  width: 2.27777778rem;
  height: 2.27777778rem;
}
.header-right {
  width: 1.30555556rem;
  height: 1.30555556rem;
  margin-top: 1.01388889rem;
}
.header-mid-right {
  width: 5rem;
  height: 1.66666667rem;
}
.header-mid-right h1 {
  font-weight: bold;
  font-size: 0.77777778rem;
  letter-spacing: 0.02777778rem;
}
.header-mid-right p {
  font-size: 0.44444444rem;
}
.header-left > img,
.header-right img,
.header-mid-icon > img,
.top img {
  width: 100%;
  height: 100%;
}
.header-mid-right .header-mid-textBottom {
  font-size: 0.33333333rem;
  letter-spacing: 0.11111111rem;
  font-weight: bold;
}
.top {
  background: #CCCCCC;
  margin-top: 0.27777778rem;
  height: 11.11111111rem;
  position: relative;
}
.menu {
  z-index: 666;
  position: absolute;
  top: 0;
  display: none;
  border-bottom: 1px solid #CCCCCC;
}
.menu ul li {
  background: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ccc;
  font-weight: bold;
  line-height: 2.33333333rem;
  text-align: center;
}
.menu ul li a {
  display: block;
  font-size: 0.69444444rem;
}
.footer {
  position: relative;
  height: 9.94444444rem;
}
.footer-top {
  padding: 0.00771605rem;
  height: 7.77777778rem;
  margin-bottom: 2.16666667rem;
  background: url("../img/footerImg.png") no-repeat;
  background-size: cover;
}
.footer-top-att {
  overflow: hidden;
  margin: 0.27777778rem auto;
  width: 11.11111111rem;
  font-size: 0.33333333rem;
}
.footer-top-att-box {
  width: 4.44444444rem;
  height: 5.55555556rem;
}
.footer-top-att-box img {
  width: 4.16666667rem;
  height: 4.16666667rem;
}
.footer-top-att-box p {
  text-align: center;
  font-size: 0.33333333rem;
}
.footer-bottom {
  height: 2.16666667rem;
  background: #74c5be;
  position: fixed;
  z-index: 6666;
  bottom: 0;
}
.footer-bottom-box {
  height: 1.94444444rem;
  width: 4.69444444rem;
  margin-top: 0.11111111rem;
  padding: 0 0.75rem;
}
.footer-bottom-box a {
  text-align: center;
  width: 3.33333333rem;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 0.69444444rem;
  line-height: 2.16666667rem;
}
.footer-bottom-box img {
  margin-top: 0.5rem;
  width: 1.16666667rem;
  height: 1.16666667rem;
}
.footer-line-left {
  border-left: 1px solid #aadfda;
}
.footer-line-right {
  border-right: 1px solid #38928a;
}
.rectangle {
  width: 0;
  height: 0;
  border-left: 0.61111111rem solid transparent;
  border-right: 0.61111111rem solid transparent;
  border-top: 0.88888889rem solid #ffffff;
  float: right;
  opacity: 0.9;
  margin-top: 0.02777778rem;
  margin-right: 1.52777778rem;
}
.footer-show {
  width: 11.66666667rem;
  overflow: hidden;
  position: absolute;
  right: 1.38888889rem;
  bottom: 2.44444444rem;
  display: none;
  z-index: 6666;
}
.footer-show-box {
  width: 10.55555556rem;
}
.footer-show-line {
  text-align: center;
  padding-bottom: 0.41666667rem;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 3.19444444rem;
}
.footer-show-line-box {
  width: 3.33333333rem;
}
.footer-show-line-box img {
  width: 2.22222222rem;
  height: 2.22222222rem;
  margin: 0.38888889rem auto;
  display: block;
}
.footer-show-line-box p {
  text-align: center;
  font-size: 0.33333333rem;
  font-weight: bold;
}
.photoBox {
  width: 100%;
  height: 11.11111111rem;
  position: relative;
  overflow: hidden;
  padding: 0;
}
.show {
  width: 300%;
  height: 100%;
  position: absolute;
  left: 0;
}
.show li {
  height: 100%;
  float: left;
}
.btnShow {
  width: 20%;
  position: absolute;
  right: 40%;
  bottom: 0.55555556rem;
}
.btnShow li {
  width: 0.55555556rem;
  height: 0.55555556rem;
  border-radius: 0.55555556rem;
  float: left;
  margin-left: 0.55555556rem;
}
.init-color {
  background: deepskyblue;
}
.turn-color {
  background: orangered;
}
.show img {
  width: 100%;
  height: 100%;
}
